<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản Lý Thu mua</title>
<meta charset="UTF-8" />
</head>
<div class="header">
	<p th:text="${session.hoTenThuMua}" th:unless="${session==null}"></p>
	<a th:href="@{/logout}">Đăng xuất</a>
</div>

<div class="slider">
	<a th:href="@{/sanpham_SX}">Phiếu Đặt Hàng</a>
</div>
<div class="content">
	<form th:action="@{/active_EditPhieuChi}" method='GET'>
		<table>
			<tr>
				<td>ID</td>
				<td><input type='text' th:value="${ID}" th:name="ID" th:readonly="true" /></td>
			</tr>
			<tr>
				<td>Số Phiếu</td>
				<td><input type='text' th:value="${soPhieu}" th:name="soPhieu" /></td>
			</tr>
			<tr>
				<td>Mã Phiếu Mua NVL</td>
				<td><input type='text' th:value="${maPhieuNVL}" th:name="maPhieuNVL" th:readonly="true"/></td>
			</tr>
			<tr>
				<td>Loại Phiếu</td>
				<td><input type='text' th:value="${loaiPhieu}" th:name="loaiPhieu"/></td>
			</tr>
			<tr>
				<td>Ngày Lập</td>
				<td><input type='text'th:value="${ngay}" th:name="ngay" /></td>
			</tr>
			<tr>
				<td>Nội Dung</td>
				<td><input type='text' th:value="${noiDung}" th:name="noiDung" /></td>
			</tr>
			<tr>
				<td>Giá Thành</td>
				<td><input type='text' th:value="${giaThanh}" th:name="giaThanh" /></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="submit" /></td>
			</tr>
		</table>
	</form>
</div>
<div class="footer"></div>
</body>
</html>