<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<title>Quản Lý</title>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/KD_addPDH.css}">
</head>
<body class="screen">
	<div class="header">
		<p th:text="${session.hoTenQLy}" class="header__username"
			th:unless="${session==null}"></p>
		<a th:href="@{/listNhanVien_QLy}" class="header__main">Quản Lý
			Nhân Viên</a><a th:href="@{/listSanPham_QLy}" class="header__main">Quản
			Lý Sản Phẩm</a><a th:href="@{/listNVL_QLy}" class="header__main">Quản
			Lý NVL</a> <a th:href="@{/logout}" class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">Thêm NVL Mới</div>
	<div class="content">
		<form th:action="@{/active_AddNVL}" method='GET'
			class="content__form">
			<div class="content__table">
				<div>
					<span>Tên NVL</span> <input type='text' th:name="tenNVL"
						required />
				</div>
				<div>
					<span>Mã NVl</span> <input type='text' th:name="maNVL" required />
				</div>
				<div>
					<span>Khối Lượng</span> <input type='text' th:name="khoiLuong"
						required />
				</div>
				<div>
					<span>Độ Dài</span> <input type='text' th:name="doDai" required />
				</div>
				<div>
					<span>Độ Rộng</span> <input type='text' th:name="doRong" />
				</div>
				<div>
					<input name="submit" type="submit" value="submit" />
				</div>
			</div>
		</form>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
</body>
</html>