<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản Lý Thu Mua</title>
<meta charset="UTF-8" />
</head>
<div class="header">
	<p th:text="${session.hoTenThuMua}" th:unless="${session==null}"></p>
	<a th:href="@{/logout}">Đăng xuất</a>
</div>

<div class="slider">
	<a th:href="@{/lenhsanxuat_TM}">Lệnh Sản Xuất</a>
</div>
<div class="content">
	<form th:action="@{/active_AddNVLCanDung}" method='GET'>
		<table>
			<tr>
				<td>Tên NVL</td>
				<td><input type='text' th:name="tenNVL" /></td>
			</tr>
			<tr>
				<td>Số Lượng</td>
				<td><input type='text' th:name="soLuong" /></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="submit" /></td>
			</tr>
		</table>
	</form>
</div>
<div class="footer"></div>
</body>
</html>