<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản Lý Sản Xuất</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/KD_listPDH.css}">
</head>
<body class="screen">
	<div class="header">
		<p th:text="${session.hoTenKyThuat}" th:unless="${session==null}"
			class="header__username"></p>
		<a th:href="@{/PhieuDatHang_KT}" class="header__main">Phiếu Đặt
			Hàng</a> <a th:href="@{/Logout}" class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">Danh Sách Phiếu Đặt Hàng</div>
	<div class="content">
		<div class="table-container">
			<div class="title">
				<h3></h3>
			</div>
			<div class="table">
				<table id="table1">
					<tr>
						<th>No</th>
						<th>Mã Phiếu</th>
						<th>Tên Khách Hàng</th>
						<th>Số Điện Thoại</th>
						<th>Địa Chỉ Khách Hàng</th>
						<th>Ngày Lập</th>
						<th>Ngày Giao Hàng</th>
						<th>Trạng Thái</th>
						<th>Ghi Chú</th>
						<th>Tên người lập</th>
						<th colspan="2">Chức năng</th>
					</tr>
					<tr th:each="pdh,state:${pdhs}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${pdh.maPhieu}"></td>
						<td th:utext="${pdh.tenKH}"></td>
						<td th:utext="${pdh.sdtKH}"></td>
						<td th:utext="${pdh.diaChiKH}"></td>
						<td th:utext="${pdh.ngayLap}"></td>
						<td th:utext="${pdh.ngayGiaoHang}"></td>
						<td th:utext="${pdh.trangThai}"></td>
						<td th:utext="${pdh.chuThich}"></td>
						<td th:utext="${pdh.nhanVien.getHoTen()}"></td>
						<td><a th:href="@{/AddLenhSanXuat/}+${pdh.ID}">Thêm Lệnh
								Sản Xuất</a></td>
						<td><a th:href="@{/ListLenhSanXuat/}+${pdh.ID}">Danh Sách
								Lệnh Sản Xuất</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
	<div class="footer"></div>
</body>
</html>