<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<title>Quản Lý Kinh Doanh</title>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/KD_listPDH.css}" />
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body class="screen">
	<div class="header">
		<span th:text="${session.hoTenKinhDoanh}" th:unless="${session==null}"
			class="header__username"></span> <a th:href="@{/Phieudathang}"
			class="header__main">Phiếu Đặt Hàng</a> <a th:href="@{/LogOut}"
			class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">
		<a th:href="@{/Phieudathang}">Danh SáchPhiếu Đặt Hàng</a>
	</div>
	<div class="content">
		<div class="table-container">
			<div class="title">
				<h3></h3>
			</div>
			<div class="table">
				<table id="table1">
					<tr>
						<th>No</th>
						<th>Mã Số Phiếu</th>
						<th>Loại Phiếu</th>
						<th>Ngày Lập</th>
						<th>Nội Dung</th>
						<th>Chú Thích</th>
						<th>Tiền Đặt Cọc</th>
						<th colspan="3">Chức năng</th>
					</tr>
					<tr th:each="pt,state:${pts}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${pt.soPhieu}"></td>
						<td th:utext="${pt.loaiPhieu}"></td>
						<td th:utext="${pt.ngay}"></td>
						<td th:utext="${pt.noiDung}"></td>
						<td th:utext="${pt.chuThich}"></td>
						<td th:utext="${pt.tienDatCoc}"></td>
						<td class="table__icon"><a
							th:href="@{/EditPhieuThu/}+${pt.ID}"><i class="fa fa-edit"
								title="Edit"></i></a></td>
						<td class="table__icon"><a
							th:href="@{/RemovePhieuThu/}+${pt.ID}"><i
								class="fas fa-trash-alt" title="Remove"></i></a></td>
					</tr>
				</table>
			</div>
			<div class="table__input">
				<div>
					<span>Tiền Sản Phẩm:</span> <input type="text" th:value="${sum}"
						th:readonly="true" />
				</div>
				<div>
					<span>Tiền Còn Nợ:</span> <input type="text" th:value="${conNo}"
						th:readonly="true" />
				</div>
			</div>
		</div>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
</body>
</html>
