<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/KD_listPDH.css}">
<title>Quản Lý</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body class="screen">
	<div class="header">
		<p th:text="${session.hoTenQLy}" class="header__username"
			th:unless="${session==null}"></p>
		<a th:href="@{/listNhanVien_QLy}" class="header__main">Quản Lý
			Nhân Viên</a><a th:href="@{/listSanPham_QLy}" class="header__main">Quản
			Lý Sản Phẩm</a><a th:href="@{/listNVL_QLy}" class="header__main">Quản
			Lý NVL</a> <a th:href="@{/logout}" class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">Danh Sách Sản Phẩm</div>
	<div class="content">
		<div class="table-container">
			<div class="title">
				<h3></h3>
			</div>
			<div class="table">
				<table id="table2">
					<tr>
						<th>No</th>
						<th>Tên NVL</th>
						<th>Mã NVL</th>
						<th>Khối Lượng</th>
						<th>Độ Dài</th>
						<th>Độ Rộng</th>
						<th colspan="1"><a th:href="@{/AddNVL}">Thêm Sản Phẩm</a></th>
					</tr>
					<tr th:each="nvl,state:${nvls}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${nvl.tenNVL}"></td>
						<td th:utext="${nvl.maNVL}"></td>
						<td th:utext="${nvl.khoiLuong}"></td>
						<td th:utext="${nvl.doDai}"></td>
						<td th:utext="${nvl.doRong}"></td>
						<td class="table__icon"><a
							th:href="@{/editNVL/}+${nvl.ID}"><i class="fa fa-edit"
								title="Edit"></i></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
	<div class="footer"></div>
</body>
</html>