<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<title>Quản Lý Kho</title>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/KD_addPDH.css}">
</head>
<body class="screen">
	<div class="header">
		<span th:text="${session.hoTenKho}" th:unless="${session==null}"
			class="header__username"></span> <a th:href="@{/ListThanhPham_Kho}"
			class="header__main">Danh Sách Thành Phẩm</a> <a th:href="@{/LogOut}"
			class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">Thêm mới Phiếu Xuất Kho</div>
	<div class="content">
		<form th:action="@{/Active_AddPhieuXuatKho}" method='GET'
			class="content__form">
			<div class="content__table">
				<div>
					<span>Mã phiếu Đặt Hàng</span> <input type='text' th:value="${maPhieuDatHang}" th:name="maPhieuDatHang" th:readonly="true"/>
				</div>
				<div>
					<span>Tên Kho</span> <input type='text' th:value="${tenKho}" th:name="tenSanPham" th:readonly="true"/>
				</div>
				<div>
					<span>Số Lượng Xuất Kho</span> <input type='text' th:value="${soLuong}" th:name="soLuong" th:readonly="true"/>
				</div>
				<div>
					<span>Ngày Xuất</span> <input type='text' th:name="ngayXuat" required/>
				</div>
				<div>
					<span>Trạng Thái</span> <input type='text' th:name="trangThai" required/>
				</div>
				<div>
					<input name="submit" type="submit" value="submit" />
				</div>
			</div>
		</form>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
</body>
</html>