<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quản Lý Kinh Doanh</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
<th:link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/KD_listPDH.css}">
</head>
<body class="screen">
	<div class="header">
		<span th:text="${session.hoTenKinhDoanh}" th:unless="${session==null}"
			class="header__username"></span> <a th:href="@{/Phieudathang}"
			class="header__main">Phiếu Đặt Hàng</a> <a th:href="@{/LogOut}"
			class="header__logout">Đăng xuất</a>
	</div>

	<div class="slider">Danh Sách Phiếu Đặt Hàng</div>
	<div class="content">
		<div class="table-container">
			<div class="title">
				<h3></h3>
			</div>
			<div class="table">
				<table id="table1">
					<tr>
						<th>No</th>
						<th>Mã Phiếu</th>
						<th>Tên Khách Hàng</th>
						<th>Số Điện Thoại</th>
						<th>Địa Chỉ Khách Hàng</th>
						<th>Ngày Lập</th>
						<th>Ngày Giao Hàng</th>
						<th>Trạng Thái</th>
						<th>Ghi Chú</th>
						<th>Tên người lập</th>
						<th colspan="4"><a th:href="@{/AddPhieuDatHang}">Tạo Phiếu
								Đặt Hàng</a></th>
					</tr>
					<tr th:each="pdh,state:${pdhs}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${pdh.maPhieu}"></td>
						<td th:utext="${pdh.tenKH}"></td>
						<td th:utext="${pdh.sdtKH}"></td>
						<td th:utext="${pdh.diaChiKH}"></td>
						<td th:utext="${pdh.ngayLap}"></td>
						<td th:utext="${pdh.ngayGiaoHang}"></td>
						<td th:utext="${pdh.trangThai}"></td>
						<td th:utext="${pdh.chuThich}"></td>
						<td th:utext="${pdh.nhanVien.getHoTen()}"></td>
						<td class="table__icon"><a
							th:href="@{/ListPhieuThu/}+${pdh.ID}">Danh Sách Phiếu Thu</a></td>
						<td class="table__icon"><a
							th:href="@{/AddPhieuThu/}+${pdh.ID}">Add Phiếu Thu</a></td>
						<td class="table__icon"><a
							th:href="@{/EditPhieuDatHang/}+${pdh.ID}"><i
								class="fa fa-edit" title="Edit"></i></a></td>
						<td class="table__icon"><a
							th:href="@{/RemovePhieuDatHang/}+${pdh.ID}"><i
								class="fas fa-trash-alt" title="Remove"></i></a></td>
					</tr>
				</table>
				<br />
				<table id="table2">
					<tr>
						<th>No</th>
						<th>Tên Sản Phẩm</th>
						<th>Tên Khách Hàng</th>
						<th>Mã phiếu Đặt Hàng</th>
						<th>Tên Xưởng</th>
						<th>Số Lượng</th>
						<th>Số Lượng Tồn Kho</th>
						<th>Số Lượng Trong Xưởng</th>
						<th>Tình Trạng</th>
						<th>Loại Giá</th>
						<th colspan="2"><a th:href="@{/AddThanhPham}">Thêm Thành
								Phẩm</a></th>
					</tr>
					<tr th:each="tp,state:${tps}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${tp.sanPham.getTenSP()}"></td>
						<td th:utext="${tp.phieuDatHang.getTenKH()}"></td>
						<td th:utext="${tp.phieuDatHang.getMaPhieu()}"></td>
						<td th:utext="${tp.xuong.getTenXuong()}"></td>
						<td th:utext="${tp.soLuong}"></td>
						<td th:utext="${tp.soLuongTonKho}"></td>
						<td th:utext="${tp.soLuongTrongXuong}"></td>
						<td th:utext="${tp.tinhTrang}"></td>
						<td th:utext="${tp.loaiGia}"></td>
						<td class="table__icon"><a
							th:href="@{/EditThanhPham/}+${tp.ID}"><i class="fa fa-edit"
								title="Edit"></i></a></td>
						<td class="table__icon"><a
							th:href="@{/RemoveThanhPham/}+${tp.ID}"><i
								class="fas fa-trash-alt" title="Remove"></i></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<button class="info__btn">
		<i class="fas fa-info"></i>
	</button>
	<button class="info__close">
		<i class="fas fa-times"></i>
	</button>
	<div class="info__doc">
		<ul class="info__list">
			<li class="info__list-item">
				<h3 class="info__title ">Tên các thành viên</h3>
			</li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Vũ Nghiêm</span></li>
			<li class="info__list-item"><span class="info__name">Kiều
					Văn Thông</span></li>
			<li class="info__list-item"><span class="info__name">Hoàng
					Thanh Hải</span></li>
			<li class="info__list-item"><span class="info__name">Phạm
					Ngọc Khánh</span></li>
			<li class="info__list-item"><span class="info__name">Nguyễn
					Thị Hiếu</span></li>
			<li class="info__list-item"><span class="info__name">Vũ
					Thị Ngọc Ánh</span></li>
		</ul>
	</div>
	<script th:src="@{/index.js}"></script>
</body>
</html>
